body{
    text-align: center;
    ont-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
        line-height: 4em;

}

h1{
    font-size: 6em;

}

#answer{
    background-color: aqua;
}
#result{
    font-size: 3em;
    line-height: 1em;
}

#newText{
    padding-top: 1em;
}

.datePicker{
    line-height: .4em;
}